<!DOCTYPE html>
<html>

<head>
    <%- include parts/head %>
</head>

<body>
<div id="wrapper">
    <%- include parts/nav %>

    <section id="profile" class="main">
        <h1>User Profile</h1>
    </section>

    <%- include parts/footer %>
</div>
</body>

</html>
