<footer>
    <h2>Legal Information</h2>
    <p>&copy; 2014, Snowtooth Holdings, LLC</p>
</footer>
</div>

<script id="'jquery" src="/js/jquery.js"></script>
<script id="'homebox" src="/js/homebox.js"></script>