<meta charset=utf-8/>
<meta name="description"
      content="<%= description %>"/>
<meta name="keywords" content="ski, snowboard, mountain, fun, snowtooth, resort, winter, play"/>
<link href='http://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
<link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>
<title><%= title %></title>