<h1>Snowtooth Mountain</h1>
<header>
    <h2>Snowtooth Header</h2>
    <section id="related">
        <h3>Related Links</h3>
        <ul>
            <li><a href="#">Our Sites</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Trip Planner</a></li>
            <li><a href="#">Cart</a></li>
        </ul>
        <form>
            <h3>Search</h3>
            <span>Search</span>
            <input name="search-box" type="text" placeholder="Search this Site">
            <button type="submit">Go!</button>
        </form>
    </section>
    <img src="/img/snowtoothlogo.jpg">
</header>

<nav>
    <h1>Main Navigation</h1>
    <a href="/">Home</a>
    <a href="/calendar">Calendar</a>
    <a href="/news">news</a>
</nav>